<!-- BEGIN CONTENT BODY -->
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->

    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                Managed Account
                <i class="fa fa-circle"></i>
            </li>
            <li>
                Corporate Action
            </li>
        </ul>
        <div class="btn-group pull-right" style="margin-top: 3px;">
            <input type="button" class="btn green btn-md excelbtn" filename="{{ filename }}.csv" value="Export Excel"
                   ng-csv="ExcelData"
                   csv-header="['Fund Name','Date','Corporate Action','Share Amt.','Shares','Amount','Scheme Name']"/>
        </div>
        <div style="display: none;" class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-md dropdown-toggle" data-toggle="dropdown"> TRANSACT ONLINE
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href><i class="icon-share-alt"></i> Book Mutual Fund</a>
                    </li>
                    <li>
                        <a href> <i class="icon-basket-loaded"></i> Buy Mutual Fund</a>
                    </li>
                    <li>
                        <a href> <i class="icon-mouse"></i> Research Funds</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href> <i class="icon-call-out"></i> Call your manager</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <div style="display: none;" class="pull-left">
        <h4 class="page-title"><span>{{CustomerName}}</span>
        </h4>
    </div>
    <div class="btn-group pull-right" style="margin-top: 25px;display: none;">
        <input type="button" class="btn green btn-md excelbtn" filename="{{ filename }}.csv" value="Export Excel"
               ng-csv="ExcelData"
               csv-header="['Fund Name','Date','Corporate Action','Share Amt.','Shares','Amount','Scheme Name']"/>
    </div>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-graph"></i>Corporate Action As On {{AsOn}}</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" id="eqnp" ng-click="toggleDiv()"> </a>
                        <a href="javascript:;" class="reload" ng-click="reload()"> </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input has-info">
                            FolioNo: <select class="form-control" id="form_control_1" style="width: 150px;display:inline"
                                    ng-options="item as item.PMSFolioNo for item in items track by item.FolioMapId"
                                    ng-model="dataItemSelected" ng-change="ChangeOption()"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input has-info">
                            Transaction Type: <select class="form-control" id="form_control_2" style="width: 150px;display:inline"
                                    ng-model="dataItemSelectedTransType" ng-change="ChangeOptionTransType()">
                            <option value="">All</option>
                            <option value="split">Corporate Action</option>
                                <option value="dividend">Dividend</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="tabbable-line" id="eqnpdiv1">

                    <div class="tab-content">
                        <div class="table-responsive" id="netPositionTable">
                            <table id="tableEquityNetPos"
                                   class="table table-striped table-bordered table-condensed datatable"
                                   data-toggle="table" style="width:1000px" data-height="380" data-sort-name="name"
                                   data-sort-order="desc">
                                <thead>
                                <tr>
                                    <th data-field="001" data-sortable="true" class="backsort sort" ng-click="orderByField('FundName')">Fund Name </th>
                                    <th data-field="002" data-sortable="true" class="backsort sort" ng-click="orderByField('TransDate')">Date </th>
                                    <th data-field="003" data-sortable="true" class="backsort sort" ng-click="orderByField('FundType')">Corporate Action </th>
                                    <th data-field="005" data-sortable="true" class="backsort sort" ng-click="orderByField('AmtShare')">Share Amt. </th>
                                    <th data-field="006" data-sortable="true" class="backsort sort" ng-click="orderByField('Shares')">Shares </th>
                                    <th data-field="007" data-sortable="true" class="backsort sort" ng-click="orderByField('Amount')">Amount </th>
                                    <th data-field="018" data-sortable="true" class="backsort sort" ng-click="orderByField('SchemeName')">Scheme Name </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="pmsItem in pmsItems">
                                    <td class="text-left">{{pmsItem.FundName}}</td>
                                    <td class="text-center">{{pmsItem.TransDate}}</td>
                                    <td class="text-center">{{pmsItem.FundType}}</td>
                                    <td class="text-right">{{pmsItem.AmtShare}}</td>
                                    <td class="text-right">{{pmsItem.Shares | number}}</td>
                                    <td class="text-right">{{pmsItem.Amount | number}}</td>
                                    <td class="text-right">{{pmsItem.SchemeName}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="text-align: center">
                            <ul uib-pagination total-items="CountRecords" ng-model="currentPage" max-size="maxSize"
                                class="pagination-sm" boundary-links="true" num-pages="numPages">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->