<!-- BEGIN FOOTER -->
<span us-spinner="{radius:30, width:8, length: 16}"></span>
<div class="page-footer">
    <div class="page-footer-inner" style="text-align: center;width: 100%;font-size:x-small">
        For questions, feedback or issues, please mail to : feedback@allegroadvisors.com. For grievances, please mail to : igallegro@allegroadvisors.com
        <br/>
        Member: NSE (Cash): SEBI Regn. No: INB231299737 | NSE Trading Member ID: 12997 | CDSL SEBI Regn. No.: IN-DP-CDSL-506-2009 | DP ID: 12060300 | SEBI PMS Regn. No.: INP000002437.
        <br/>
        <a data-toggle="modal" data-target="#myModal" style="color:#98a6ba;">Other Terms and Conditions</a>
        <br/>
        <span style="float:left;font-size:small">&copy; Copyright Allegro Capital Advisors Pvt. Ltd. All rights reserved.</span>
        <span style="float:right;font-size:small">Developed and powered by Ampsys Consulting Pvt. Ltd.</span>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Other Terms and Conditions</h3>
                </div>
                <div class="modal-body">
                    <p><pre>
1.    Allegro currently allows trading only on Cash and Carry basis and does not provide margin trading facility for purchases.

2.    Clients are allowed to sell only if securities are available in the client’s designated DEMAT account.

3.    The information provided in the reporting platform is compiled with data received from various registrar and transfer agents,
      and the prices are updated from other market sources.  Allegro takes requisite care to ensure authenticity of data,
      but since there is dependence on other parties, Allegro cannot be held responsible for inaccuracies.  The inaccuracies,
      if any, must be brought to our attention on the mail IDs mentioned above.

4.    Prevent unauthorized transactions in your account. Update your mobile numbers/email IDs with your stock brokers.
      Receive information of your transactions directly from Exchange on your mobile/email at the end of the day.

5.    KYC is the one-time exercise while dealing in securities markets. Once KYC is done through a SEBI registered intermediary
      (Broker, DP, Mutual Fund, etc.), you need not undergo the same process again when you approach another intermediary.

6.    No need to issue cheques by investors while subscribing to IPO. Just write the bank account number and sign in the application form
      to authorize your bank to make payment in case of allotment. No worries for refund as the money remains in investor's account.

                            © Copyright Allegro Capital Advisors Pvt. Ltd. All rights reserved
                </pre></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->