<!-- BEGIN CONTENT BODY -->
<div class="page-content dashboardContents">
    <!-- BEGIN PAGE HEADER-->

    

    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                Home
                <i class="fa fa-circle"></i>
            </li>
            <li>
                Dashboard
            </li>
        </ul>
        <!-- STYLISH ICONS -->
  
    <!-- STYLISH ICONS -->
        <div style="display: none;" class="page-toolbar" >
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-md dropdown-toggle" data-toggle="dropdown"> TRANSACT ONLINE
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href ><i class="icon-share-alt"></i> Book Mutual Fund</a>
                    </li>
                    <li>
                        <a href > <i class="icon-basket-loaded"></i> Buy Mutual Fund</a>
                    </li>
                    <li>
                        <a href > <i class="icon-mouse"></i> Research Funds</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href > <i class="icon-call-out"></i> Call your manager</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h4 style="display: none;" class="page-title"> <span>{{CustomerName}}</span>
    </h4>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="dashboardInnerContents">
        <div class="row">
            <div class="col-md-5">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-inr" aria-hidden="true"></i> Assets</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="javascript:;" class="reload" (click)="reload()"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center"> Assets </th>
                                    <th class="text-center"> Invested Value </th>
                                    <th class="text-center"> Current Value </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let asset of assets">
                                    <td class="text-left">
                                        <a href (click)="navigateToPlans(asset.Assets)"> {{asset.Assets}} </a>
                                    </td>
                                    <td class="text-right tbivfont">{{asset.InvestedValue}} </td>
                                    <td class="text-right tbcvfont"> {{asset.CurrentValue}} </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
            <div class="col-md-5">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-inr"></i>Products</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a><a href="javascript:;" class="reload"
                                (click)="reload"></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            Products
                                        </th>
                                        <th class="text-center">
                                            Invested Value
                                        </th>
                                        <th class="text-center">
                                            Current Value
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of products">
                                        <td class="text-left">
                                            <a href (click)="navigateToProduct(product.Product)">{{product.Product}} </a>
                                        </td>
                                        <td class="text-right tbivfont">
                                            {{product.InvestedValue}}
                                        </td>
                                        <td class="text-right tbcvfont">
                                            {{product.CurrentValue}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>

        </div>
        <!--<br/><br/><br/>-->
        <div class="row" style="float : top; margin-top : -650px">
            <div class="col-md-5">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-layers"></i>Performance</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="javascript:;" class="reload" (click)="reload()"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="form-group form-md-line-input has-info">
                            <select class="form-control" id="form_control_1" [(ngModel)]="dataMonthSelected" (change)="monthChange()">
                                <optgroup label="Short Term">
                                    <!--<option value=""></option>-->
                                <option value="7">1 WEEK</option>
                                <option value="30">1 MONTH</option>
                                <option value="60">2 MONTHS</option>
                                <option value="90">3 MONTHS</option>
                                <option value="120">4 MONTHS</option>
                                <option value="180">6 MONTHS</option>
                                <option value="270">9 MONTHS</option>
                                </optgroup>
                                <optgroup label="Long Term">
                                    <!--<option value=""></option>-->
                                    <option value="365">1 YEAR</option>
                                    <option value="730">2 YEAR</option>
                                    <option value="1095">3 YEAR</option>
                                    <option value="1460">4 YEAR</option>
                                    <option value="1825">5 YEAR</option>
                                </optgroup>
                            </select>
                            <label for="form_control_1">TIME RANGE</label>
                        </div>
                        <div id="chart_div">
                            <div style="display: block">
                                <canvas baseChart
                                        [datasets]="barChartData"
                                        [labels]="barChartLabels"
                                        [options]="barChartOptions"
                                        [legend]="barChartLegend"
                                        [chartType]="barChartType"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)">
                                </canvas>
                                
                            </div>
                            <button (click)="randomize()">Update</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-notebook"></i> Earnings</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="javascript:;" class="reload" (click)="reload()"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="chart_div3">
                            <div style="display: block">
                                <canvas baseChart
                                        [datasets]="barChartData"
                                        [labels]="barChartLabels"
                                        [options]="barChartOptions"
                                        [legend]="barChartLegend"
                                        [chartType]="barChartType"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)">
                                </canvas>
                            </div>
                            <button (click)="randomize()">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<!-- END CONTENT BODY -->
