<!-- BEGIN CONTENT BODY -->
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->

    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                Mutual Fund
                <i class="fa fa-circle"></i>
            </li>
            <li>
                Dashboard
            </li>
        </ul>
        <div class="btn-group pull-right" style="margin-top: 3px;">
            <input type="button" class="btn green btn-md excelbtn " filename="{{ filename }}.csv" value="Export Excel" ng-csv="ExcelData" csv-header="['Investment','Current Value']" />
        </div>
        <div style="display: none;" class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-md dropdown-toggle" data-toggle="dropdown"> TRANSACT ONLINE
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href><i class="icon-share-alt"></i> Book Mutual Fund</a>
                    </li>
                    <li>
                        <a href> <i class="icon-basket-loaded"></i> Buy Mutual Fund</a>
                    </li>
                    <li>
                        <a href> <i class="icon-mouse"></i> Research Funds</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href> <i class="icon-call-out"></i> Call your manager</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <div style="display: none;" class="pull-left">
        <h4 class="page-title"><span>{{CustomerName}}</span>
        </h4>
    </div>
    <!--<div style="display: none;" class="btn-group pull-right" style="margin-top: 25px;">-->
        <!--<input type="button" class="btn green btn-md excelbtn " filename="{{ filename }}.csv" value="Export Excel" ng-csv="ExcelData" csv-header="['Investment','Units/Qty','Current Price','Current Value','ABS']" />-->
    <!--</div>-->
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-layers"></i>MF Allocation</div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" ng-click="toggleDiv()" id="mfDashboard"> </a>
                        <a href="javascript:;" class="reload" ng-click="reload()"> </a>
                    </div>
                </div>
                <div class="col-md-6" id="mfDash1">
                    <div class="table-scrollable">
                        <table id="tableMFDashboard"
                               class="table table-striped table-bordered table-advance table-hover">
                            <thead>
                            <tr>
                                <th class="backsort sort" ng-click="orderByField('Scheme')"> Investment</th>
                                <th class="backsort sort" ng-click="orderByField('CurrentValue')"> Current Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in items">
                                <td class="text-left">
                                    <a href ng-hide="$last" ng-click="navigateToTransaction(item.Scheme)"> {{item.Scheme}} </a>
                                    <span ng-show="$last">{{item.Scheme}}</span>
                                </td>
                                <td class="text-right"> {{item.CurrentValue | number}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align: center">
                        <ul uib-pagination total-items="CountRecords" ng-model="currentPage" max-size="maxSize"
                            class="pagination-sm" boundary-links="true" num-pages="numPages">
                        </ul>
                    </div>
                </div>
                <div class="col-md-6" id="mfDash2">
                    <div class="portlet-body">
                        <div id="chart_div" style="height:300px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->
